/* General Styling */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  .upload-case-container {
    text-align: center;
    margin: 0 auto;
  }
  
  .header {
    background-color: #00a74d;
    color: white;
    padding: 10px 0;
  }
  
  .header h1 {
    margin: 0;
    font-size: 24px;
  }
  
  .form-container {
    background-color: white;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .form-container h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .form-input,
  .form-textarea,
  .file-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
  }
  
  .form-textarea {
    resize: none;
    height: 80px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
  }
  
  .btn {
    width: 48%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .publish-btn {
    background-color: #00a74d;
    color: white;
  }
  
  .cancel-btn {
    background-color: #f44336;
    color: white;
  }
  
  .btn:hover {
    opacity: 0.9;
  }

/* PDF Preview Styling */
.pdf-preview {
    margin-top: 20px;
    text-align: center;
  }
  .pdf-preview canvas {
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  